$primaryBg: #F7F8FF;
$componentBg: #FFFFFF;
$inputFieldBg: #f1f4f8;
$inputFieldBorderColour: #dbe2f1;
$placeholderColour: #969aab;
$primaryFontColor: #182146;

$selectBorderDefault: #cccccc;
$selectBorderHover: #c3cccd;

$primaryBgInput: #6854c9;